*{
	transition: all 0.5s;
}
.myform input{
	color: rgb(48, 48, 48);
	width: 90%;
	background-color: rgba(136, 135, 135, 0.226);
	margin: 10px 2px;
	padding: 10px 20px;
	border:none;
	box-shadow: 1px 1px 3px 2px rgb(172, 172, 172);
}
/* .myform input:hover{
	box-shadow: 1px 1px 3px 5px #610301;
} */
.myform{
	border-radius: 2px;
	border-color: rgb(168, 168, 168);
	border-style: solid;
	border-width: 0.5px;
	width: 350px;
	height: 230px;
	margin-left: 33%;
	margin-top: 50px;
	background-color: rgb(230, 230, 230);
	padding: 40px;
}
.myform label{
	color: rgb(255, 255, 255);
	display: block;
}
input[type="submit"]{
	width: 200px;
	background-color: rgb(18, 158, 201);
	font-weight: bold;
	width: 100%;
	box-shadow: 1px 1px 3px 2px rgb(172, 172, 172);
}
input[type="submit"]:hover{
	background-color:rgb(0, 81, 255);
	color:white;
	transform: scale(1.02);
}
input::placeholder{
	color: rgb(160, 160, 160);
}
h1{
    margin-top: auto;
    color: black;
}

