.nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 80px;
	background-color:#383838;
	
}

.nav h1{
    color: aliceblue;
    margin: auto;
}

.Menu{
	width: 600px;
	display: flex;
    list-style: none;
    margin-right: 250px;	
}
.Menu1{
	width: 150px;
	display: flex;
    list-style: none;
    margin-right: 30px;	
}

.Menu li{
	color: white;
	text-transform: uppercase;
	padding: 6px;
	
}
.Menu1 li{
	color: white;
	text-transform: uppercase;
	padding: 6px;
	
}